[submodule "Switch/control_plane/third_party/cJSON"]
	path = Switch/control_plane/third_party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "Frontend/subprojects/concurrentqueue"]
	path = Frontend/subprojects/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "Frontend/subprojects/json"]
	path = Frontend/subprojects/json
	url = https://github.com/nlohmann/json.git
[submodule "Frontend/subprojects/libcuckoo"]
	path = Frontend/subprojects/libcuckoo
	url = https://github.com/efficient/libcuckoo.git
